.todo-input {
  width: 100%;
  margin: 40px 0 80px 0;
  display: flex;
  justify-content: center;
}

.todo-input .input {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  outline: none;
}

.todo-input .button {
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  margin-left: 10px;
  cursor: pointer;
}

.todo-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.App .column {
  width: 30%;
}

.droppable-col {
  width: 100%;
  background-color: lightgrey;
  padding: 10px 10px 0 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.droppable-col.dragging {
  background-color: rgb(125, 153, 162);
}

.item {
  margin-bottom: 10px;
  background-color: white;
  padding: 20px 8px;
  border-radius: 10px;
  user-select: none;
}

.item.dragging {
  box-shadow: 5px 5px 5px gray;
}
